@font-face {
    font-family: "Inria Sans";
    src: url("/fonts/inria-sans-v15-latin-regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: "Londrina Shadow";
    src: url("/fonts/londrina-shadow-v28-latin-regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: "Londrina Solid";
    src: url("/fonts/londrina-solid-v19-latin-regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: block;
}